html {
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.link-card {
  background-color: #dcd4cd;
  color: #512200;
  border: 3px solid #9a816d;
  border-radius: 3px;
  padding: 1rem;
  text-decoration: none;
  display: block;
}

.link-card:hover {
  background-color: #cabdb2;
}

h2 {
  font-size: 1.5rem;
  display: block;
  font-family: "Dosis", sans-serif;
  font-weight: bold;
}

p {
  display: block;
  font-size: 1rem;
}

dl {
  display: block;
  font-size: 0.875rem;
}

dt {
  display: inline-block;
  width: 50%;
}

dd {
  display: inline;
  width: 50%;
  margin: 0;
  font-style: italic;
}

.btn-wrap {
  display: block;
  text-align: center;
}

.btn {
  display: inline-block;
  color: #f0eee8;
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  padding: 0.4em 0.75em 0.5em;
  background: #785439;
  border-radius: 8px;
  font-size: 1.125rem;
}

.link-card:hover .btn {
  background: #512200;
}

hr {
  border:0;
  border-top: 2px solid #785439;
}
